<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width initial-scale=1.0'>
    <title>Brooklyn</title>
    <link rel="icon" type="image/png" href="../images/coffee.png"/>
    <link rel="stylesheet" href="../style/main.css" />
  </head>
  <body class="main-page">
    <header class="main-header">
       <nav class="main-navigation">
          <div class="main-navigation-wrapper">
              <div class="container">
                <ul class="site-navigation">
                    <li><a href="./index.html" class="logo"></a><img src="../images/coffee (2).png"></li>
                    <li><a href="./menu.html">Menu</a></li>
                    <li><a href="#">Our Stores</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <div class="user-navigation">
                    <a class="login-link" href="#">Sing Up</a>
                </div>
              </div>
           
        </div>
       </nav>
    </header>

    <main class="container">
        <section class="features">
            <ul class="feature-list">
                <li class="feature-item">
                    <h3>Lorem Ipsum</h3>
                    <p>Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        labore et dolore magna aliqua. </p>
                </li>
                <li class="feature-item">
                        <h3>Lorem Ipsum</h3>
                        <p>Lorem ipsum dolor sit amet, 
                            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                            labore et dolore magna aliqua. </p>
                </li>
                <li class="feature-item">
                        <h3>Lorem Ipsum</h3>
                        <p>Lorem ipsum dolor sit amet, 
                            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                            labore et dolore magna aliqua. </p>
                </li>
            </ul>
        </section>
        <div class="index-columns">
            <section class="news">
                <h2>News</h2>
                <ul class="news-list">
                    <li class="news-item">
                        <p>Another Brooklyn Coffee Shop On the Way...</p>
                        <time datetime="2018-06-18">June 18</time>
                    </li>
                    <li class="news-item">
                        <p>7 Cold Coffee Drinks for Summer.</p>
                        <time datetime="2018-06-10">June 10</time>
                    </li>
                </ul>
                <div class="button"><a href="#">All News</a></div>
            </section>
    
            <section class="gallery">
                <h2>New Summer Refreshers</h2>
                <div class="gallery-container">
                    <a href="#"><img id="main-page-img" src="https://www.torani.com/sites/default/files/recipes/illustration/iced_tea_12.jpg"></a>
                </div>
            </section>
        </div>
        
        <footer class="main-footer">
            <div class="container">
                <div>
                    <p id="signup-news">Sign up for the latest from Brooklyn coffee shop</p>
                    <input class="email-news" type="email" placeholder="Enter your email..."
                    style="cursor: auto">
                    <button type="submit" class="sign-btn">Sign Up</button>
                </div>
                <div class="footer-social">
                    <h2>Join Us</h2>
                    <ul>
                        <li><a class="social-button" href="#"><img src="../images/facebook-logo.png"></a></li>
                        <li><a class="social-button" href="#"><img src="../images/instagram-logo.png"></a></li>
                        <li><a class="social-button" href="#"><img src="../images/twitter-logo-silhouette.png"></a></li>
                    </ul>
                </div>
                <div class="footer-content">
                    <ul>
                        <li><a href="#">Wholesale</a></li>
                        <li><a href="#">Press</a></li>
                        <li><a href="#">Customer Service</a></li>
                        <li><a href="#">Terms $ Policy</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </main>
  </body>
</html>
