<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width initial-scale=1.0'>
    <title>Brooklyn</title>
    <link rel="icon" type="image/png" href="../images/coffee.png"/>
    <link rel="stylesheet" href="../style/main.css" />
  </head>
  <body class="inner-page">
    <header class="main-header">
       <nav class="main-navigation">
          <div class="main-navigation-wrapper">
              <div class="container">
                <ul class="site-navigation">
                    <li><a href="./index.html" class="logo"><img src="../images/coffee (2).png"></a></li>
                    <li><a href="./menu.html">Menu</a></li>
                    <li><a href="#">Our Stores</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <div class="user-navigation">
                    <a class="login-link" href="#">Sing Up</a>
                </div>
              </div>
           
        </div>
       </nav>
    </header>
    <main class="container">
        <div class="inner-page-title">
            <h1>Brooklyn CoffeeShop Menu</h1>
        </div>
        <div class="catalog-columns">
            <section class="filters">
                <form class="catalog-selector">
                    <fieldset class="selector-manufacturers">
                        <legend>Drinks</legend>
                        <label class="selector-marker">
                            <input type="checkbox" checked>
                            <span class="marker-indicator"></span>
                        Iced Coffees
                        </label>
                        <label class="selector-marker">
                            <input type="checkbox">
                            <span class="marker-indicator"></span>
                        Hot Coffees
                        </label>
                        <label class="selector-marker">
                            <input type="checkbox" checked>
                            <span class="marker-indicator"></span>
                        Hot Teas
                        </label>
                        <label class="selector-marker">
                            <input type="checkbox">
                            <span class="marker-indicator"></span>
                        Iced Teas
                        </label>
                        <label class="selector-marker">
                            <input type="checkbox">
                            <span class="marker-indicator"></span>
                        Lemonades
                        </label>
                    </fieldset>
                    <fieldset class="selector-group">
                        <legend>Coffee Types</legend>
                        <label class="selector-marker">
                            <input type="radio" name="item-group" value="shaving-materials">
                            <span class="marker-indicator"></span>
                        Americano
                        </label>
                        <label class="selector-marker">
                            <input type="radio" name="item-group" value="care-preparations" checked>
                            <span class="marker-indicator"></span>
                        Brewed
                        </label>
                        <label class="selector-marker">
                            <input type="radio" name="item-group" value="accessories">
                            <span class="marker-indicator"></span>
                        Macchiatos
                        </label>
                    </fieldset>
                    <button class="btn-filter" type="button">Apply</button>
                </form>
            </section>

            <div class="catalog-gallery">
                <!-- <h2 class="visually-hidden">The list</h2> -->
                <ul class="catalog-list">
                    <li class="catalog-item">
                        <p class="catalog-item-image">
                            <a href="./single-item.html"><img class="item-image" src="https://buildyourbite.com/wp-content/uploads/2015/08/healthy-instant-iced-coffee-6.jpg"></a>
                        </p>
                        <a href="./single-item.html"><h3>Iced Coffee with Milk</h3></a>
                        <div class="item-buy">
                            <span class="buy-price">$3.45</span>
                            <a class="btn" href="#">Buy</a>
                        </div>                   
                    </li>
                    <li class="catalog-item">
                        <p class="catalog-item-image">
                            <a href="#"><img class="item-image" src="https://fthmb.tqn.com/3b3BWeDUlAJNZAa8qQ7M5hRHzWw=/960x0/filters:no_upscale():max_bytes(150000):strip_icc()/glass-of-iced-coffee-89004347-5887f9ba3df78c2ccdd16180.jpg"></a>
                        </p>
                        <a href="#"><h3>Iced Coffee</h3></a>
                        <div class="item-buy">
                            <span class="buy-price">$3.45</span>
                            <a class="btn" href="#">Buy</a>
                        </div>
                    </li>
                    <li class="catalog-item"> 
                        <p class="catalog-item-image">
                            <a href="#"><img class="item-image" src="https://1.bp.blogspot.com/-AApqUAEgklg/VxbmaxSiXHI/AAAAAAAAbuY/9UynvsE9NbMx71B7YhGgIuUZeiJ1LUzJgCLcB/s1600/Maple-Iced-Coffee%2B6.JPG"></a>
                        </p>
                        <a href="#"><h3>Decaf Pike Place Roast</h3></a>
                        <div class="item-buy">
                                <span class="buy-price">$3.45</span>
                                <a class="btn" href="#">Buy</a>
                        </div>
                    </li>
                    <li class="catalog-item">                       
                        <p class="catalog-item-image">
                            <a href="#"><img class="item-image" src="https://www.ketoconnect.net/wp-content/uploads/2017/04/keto-coffee-close.jpg"></a>
                        </p>
                        <a href="#"><h3>Vanilla Sweet Cream Cold Brew</h3></a>
                        <div class="item-buy">
                            <span class="buy-price">$3.45</span>
                            <a class="btn" href="#">Buy</a>
                        </div>
                    </li>
                    <li class="catalog-item">                   
                        <p class="catalog-item-image">
                            <a href="#"><img class="item-image" src="https://cookienameddesire.com/wp-content/uploads/2015/07/how-to-cold-brew-coffee-recipe.jpg"></a>
                        </p>
                        <a href="#"><h3>Cold Foam Brew</h3></a>
                        <div class="item-buy">
                            <span class="buy-price">$3.45</span>
                            <a class="btn" href="#">Buy</a>
                        </div>
                    </li>
                    <li class="catalog-item">                    
                        <p class="catalog-item-image">
                            <a href="#"><img class="item-image" src="http://www.saltedandstyled.com/wp-content/uploads/2012/01/coffee_05.jpg"></a>
                        </p>
                        <a href="#"><h3>Blonde Roast</h3></a>
                        <div class="item-buy">
                            <span class="buy-price">$3.45</span>
                            <a class="btn" href="#">Buy</a>
                        </div>
                    </li>
                </ul>
                <div class="catalog-paginator">
                    <a class="btn" href="#">1</a>
                    <a class="btn active-page" href="#">2</a>
                    <a class="btn" href="#">3</a>
                    <a class="btn" href="#">4</a>
                </div>
            </div>
        </div>
        <footer class="main-footer">
            <div class="container">
                <div>
                    <p id="signup-news">Sign up for the latest from Brooklyn coffee shop</p>
                    <input class="email-news" type="email" placeholder="Enter your email..."
                    style="cursor: auto">
                    <button type="submit" class="sign-btn">Sign Up</button>
                </div>
                <div class="footer-social">
                    <h2>Join Us</h2>
                    <ul>
                        <li><a class="social-button" href="#"><img src="../images/facebook-logo.png"></a></li>
                        <li><a class="social-button" href="#"><img src="../images/instagram-logo.png"></a></li>
                        <li><a class="social-button" href="#"><img src="../images/twitter-logo-silhouette.png"></a></li>
                    </ul>
                </div>
                <div class="footer-content">
                    <ul>
                        <li><a href="#">Wholesale</a></li>
                        <li><a href="#">Press</a></li>
                        <li><a href="#">Customer Service</a></li>
                        <li><a href="#">Terms $ Policy</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </main>
</body>
</html>
